@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #f4f4f4;
  margin: 0;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome/Safari */
}

.scrollbar-hidden {
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}

footer {
  margin-top: auto;
}

.audit-program {
  max-width: 800px;
  margin: 0 auto;
  padding: 0rem 1rem 0rem;
}

.audit-program h2 {
  font-size: 16px;
  font-weight: 600;
  margin-top: 15px;
}

.audit-program p {
  padding-right: 20px;
  line-height: 1.5;
  margin-bottom: 5px;
  font-size: 14px;
}

.dropzone {
  /* Your styling properties */
  border: 2px dashed #ccc;
  padding: 20px;
  /* Add other styles as needed */
}

@media screen and (max-width: 768px) {
  html {
    font-size: 80%;
  }
}
